@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">11Laithbuilding Web apps with 11ASP.NET Core</a>.</p>
    <p></p>
</div>
